# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack
target

# others
*.log
environment.json

#arquivos do mac :(
.DS_Store
chaves
teste.py

#IDE
*.idea
**/venv
.vscode
