# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack
target

# others
*.log
*-lock.json
environment.json

#arquivos do mac :(
.DS_Store
chaves
enviroments.json
teste.py