# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack
target

# others
*.log
environment.json

#arquivos do mac :(
.DS_Store
chaves
teste.py
teste2.py
antigo.py
old_but_gold

#IDE
*.idea
**/venv
.vscode
.vscode/settings.json
